.StreamCard {
  width: 300px;
  height: auto;
  box-shadow: 0px 2px 5px #808080;
  display: flex;
  flex-direction: column;
  color: black;
  transition: 0.2s;
  margin: 10px;
  background-color: white;
}

/*.StreamCard:hover {
  box-shadow: 0px 2px 9px #989898;
}*/

.StreamThumbnail {
  width: 100%;
}

.StreamText {
  margin: 5%;
  margin-top: -4%;
  margin-bottom: 0;
  color: black;
}

.StreamArtist {
  text-align: left;
}

.StreamTitle {
  text-align: left;
}

.StreamDate {
  text-align: left;
}
