.Artist_stream {
    width: 80%;
}

.offline_stream_box {
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 40px;
}

.offline_stream {
    font-family: "Futura Std";
    font-weight: lighter;
    font-size: 2vw;
}