.writings_card {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px #808080;
    display: flex;
    flex-direction: row;
    color: black;
    margin: 10px;
    background-color: white;
    transition: ease 0.5s;
}

.writings_card:hover {
    transform: scale(1.01);
}

.writings_thumbnail {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.writings_title {
    font-family: "Futura Std", serif;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    margin: 15px 0 0 0;
}

.writings_artist {
    font-family: "Futura Std", serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin: 14px 0;
}

.writings_date {
    font-family: "Futura Std", serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.writings_text {
    margin: 0 2% 0 2%;
    color: black;
}

.writings_description {
    font-family: "Futura Std", serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 8px 0;
}

.empty {
    width: 100px;
    height: auto;
}