.home_carousel{
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-top: 1vw;
}

.home_carousel_live_position{
    width: 35vw;
    height: 27vw;
    /*background-color: grey;*/
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_carousel_live {
    z-index: 2;
    width: 35vw;
    height: 19.7vw;
    box-shadow: 0 0 7px grey;
}

.home_carousel_article {
    position: absolute;
    width: 25vw;
    top: 12%;
    left: 10%;
    z-index: 1;
    box-shadow: 0 0 7px grey;
}

.home_carousel_video {
    position: absolute;
    width: 25vw;
    top: 12%;
    right: 10%;
    z-index: 1;
    box-shadow: 0 0 7px grey;
}

.home_carousel_live_info {
    margin: 0.5vw;
    margin-top: -0.7vw;
}

.home_carousel_live_title {
    font-family: "Futura";
    font-weight: normal;
    font-size: 1.2vw;
}

.home_carousel_live_artist_row {
    display: flex;
    flex-direction: row;
    margin-top: -0.2vw;
    font-family: "Futura Std";
    font-size: 1.2vw;
    font-weight: normal;
    justify-content: space-between;
}

.home_carousel_live_now {
    border-radius: 0.2vw;
    height: 1.1vw;
    font-size: 1vw;
    width: auto;
    color: white;
    background-color: var(--red); /* Note: the color setting is overwritten by the ternary in the div with this class name, found in Home_carousell.js file*/
    padding: 0.2vw;
    margin-top: -0.2vw;
}