.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.welcome_title {
  font-family: "Futura Std";
  font-weight: lighter;
  font-size: 4.5vw;
  text-shadow: 0 0 2px var(--gray);
}

.welcome_title em {
  color: var(--gold);
  font-style: normal;
}

.welcome_title en {
  border-bottom: 2px solid var(--gold);
  padding-bottom: 0;
}

.welcome_text {
  font-family: "Futura Std";
  font-size: 2vw;
  font-weight: lighter;
  text-align: center;
  color: var(--gray);
  margin-top: -1vw;
}

.welcome_text a {
  text-decoration: underline;
  color: var(--gray);
  font-size: 1vw;
}